<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/CÁMARA_MÓVIL_MARZO_2023.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>CAMARA MOVIL MARZO</ion-card-title>
      <ion-card-subtitle>
        🔊¡EN MARZO AGÉNDATE Y CUMPLE!🔊 Estimado comerciante, iniciamos el 2023
        pensando en tu comodidad. Por eso, te damos a conocer el calendario de
        visitas del programa ‘CÁMARA MÓVIL’ en el mes de MARZO, a través del
        cual funcionarios de nuestra entidad, se harán presentes en tu
        municipio. 🗓️ 🚨 Recuerda ▪️Nuestros funcionarios estarán debidamente
        identificados y se ubicarán en los lugares previamente informados . ▪️
        La Cámara de Comercio de Aguachica no hace visitas puerta a puerta.
        #CámaraMóvil #MARZO #EmpresariosQueMuevenAlPaís
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Descripción del evento</h2>
            <!-- <h3>event.description</h3> -->
            <p><b>Fecha:</b> MARZO</p>
            <p><b>Hora:</b> MARZO</p>
            <p><b>Lugar:</b> MUNICIPIOS</p>
            <p><b>Intensidad: </b>1</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        color="danger"
        href="https://camaraaguachica.org.co/confirmar/camara-movil-enero/"
      >
        Confirmar Asistencia
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/img/NUEVO_NUMERO_TELEFONICO.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>NÚMERO DE ATENCIÓN</ion-card-title>
      <ion-card-subtitle>
        🔉¡ATENCIÓN!🚨🚨 Empresario, Emprendedor y Comunidad en general, La
        Cámara de Comercio de Aguachica le informa que la nueva línea de
        atención telefónica para los usuarios es 📞*316 023 3043.* Horario de
        atención: 08:00 a.m. a 12:00m A 02:00 p.m. a 06:00 p.m.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
