<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mision y Vision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/mision.jpg"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title
        ><ion-icon name="telescope"></ion-icon> Mision</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      La Cámara de Comercio de Aguachica es una entidad privada, sin ánimo de
      lucro, con el propósito de prestar los servicios de registros,
      conciliación y desarrollo socioeconómico de la región, llevando la
      representación y vocería de los empresarios ante el gobierno nacional,
      regional y municipal, para fortalecer el Bienestar de la comunidad, basada
      en una cultura del conocimiento.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/img/vision.jpg"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title><ion-icon name="golf"></ion-icon> Vision</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Liderar el desarrollo integral de la región y promover estrategias que
      permitan fortalecer la cultura empresarial de las comunidades de la
      jurisdicción, en respuesta a los cambios globales.
    </ion-card-content>
  </ion-card>
</ion-content>
