<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>goals</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/fachada.jpg" alt="Camara de comercio"></ion-img>
  <ion-text>
    <h3 class="ion-text-center">Objetivos</h3>
  </ion-text>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="business"></ion-icon> Perspectiva organizacional
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ol>
        <li>Lograr una cultura de mejoramiento permanente</li>
        <li>Mejorar la estructura fisica tecnologica</li>
      </ol>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cog"></ion-icon> Perspectiva de procesos
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ol>
        <li>
          Diversificar y generar nuevos servicios para el empresariado y la
          comunidad
        </li>
        <li>Generar sentido de pertenencia en la comunidad empresarial</li>
        <li>Generar procesos de desarrollo empresarial regional</li>
      </ol>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="people"></ion-icon> Perspectiva de personas
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ol>
        <li>Satisfacer los requerimientos de servicios formulados</li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
