<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Participantes del proyecto </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/img/juan.jpeg" alt="Juancho"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Juan Sebastyan Badilla Ricon</h2>
          <p>Desarrollador</p>
          <p><ion-icon name="logo-github"></ion-icon> github.com/Juan7742</p>
          <p><ion-icon name="mail"></ion-icon> jsbadillo@unicesar.edu.co</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/img/pineda.png" alt="Sebas"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Sebastyan Enrique Pineda Aguilera</h2>
          <p>Desarrollador</p>
          <p><ion-icon name="logo-github"></ion-icon> github.com/SebastyanPi</p>
          <p><ion-icon name="mail"></ion-icon> sepineda@unicesar.edu.co</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/img/miguel.jpg" alt="Miguel"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Miguel David Portillo Padilla</h2>
          <p>Desarrollador</p>
          <p><ion-icon name="logo-github"></ion-icon> github.com/MiguelDPP</p>
          <p>
            <ion-icon name="mail"></ion-icon> mdavidportillo@unicesar.edu.co
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/img/hwarol.png" alt="Andres"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Hwarol Fabian Trillos Sanchez</h2>
          <p>Desarrollador</p>
          <p><ion-icon name="logo-github"></ion-icon> github.com/HwarolS</p>
          <p><ion-icon name="mail"></ion-icon> Harolfsanchez25@gmail.com</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Version -->
  <ion-card>
    <ion-card-header>
      <ion-card-title> Version </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Version 1.0.0</h2>
          <p>Fecha de lanzamiento: 2022-03-21</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
