<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camara Aguachica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/logos/Logo.png" alt="logo"></ion-img>
    <!-- <ion-card-header>
      <ion-card-subtitle>Sobre la</ion-card-subtitle>
      <ion-card-title>Camara de comercio de Aguachica</ion-card-title>
    </ion-card-header> -->

    <ion-card-content class="text-center">
      Las Cámaras de Comercio, son personas jurídicas sin ánimo de lucro, de
      carácter corporativo y gremial, sujetas en la ejecución de todos sus actos
      de administración, gestión y contratación al derecho privado, las cuales
      tienen como fines defender y estimular los intereses generales del
      empresariado en Colombia, y llevar los registros mercantil, de las
      entidades sin ánimo de lucro y el registro único de proponentes delegados
      legalmente, sin que formen parte integrante de la administración pública
      ni al régimen legal aplicable a las entidades que forman parte de la
      misma.
    </ion-card-content>

    <!-- Footer -->
  </ion-card>
</ion-content>
